
/*100% 주는것은 상대적인것이므로 부모태그인 html,body 두개에도 100% 해 줘야 스크롤이 생기지 않고 화면에 꽉 차게 된다.*/
html, body {
  width : 100%;
  height : 100%;
}

.bx-wrapper, .bx-viewport, .slider {
  width : 100%;
  height : 100%;
}

.background_01 {
  width: 100%;
  height: 100%;
  background: url("../images/jae.jpg") no-repeat;
  background-size: cover;
  background-position: center;

}

.background_02 {
  width: 100%;
  height: 100%;
  background: url("../images/j.png") no-repeat;
  background-size: cover;
  background-position: center;

}

.background_03 {
  width: 100%;
  height: 100%;
  background: url("../images/lucky.jpg") no-repeat;
  background-size: cover;
  background-position: center;

}

.overlay {
  width: 100%;
  height: 100%;
  background: url("../images/16.png");
  position: absolute; /*절대값에 위치*/
  top : 0;
  z-index : 10;
}

.contents {
  position : absolute;
  top : 50%;
  left : 50%;
  margin-left : -248px; /*468px의 절반값을 빼 줘서 가운데 정렬*/
  margin-top : -190px;
  z-index : 15;
  text-align: center;
  font-family : "Malgun Gothic", sans-serif
}


.contents_name {
  font-size: 64px;
  font-weight: bold;
  color : white;
  margin-bottom : 25px;

}

.contents_story {
  font-size: 25px;
  font-weight: bold;
  color : white;
  margin-bottom: 40px;
}

.contents_list {
  font-size: 0;
}


.contents_list > li  {
  display: inline-block;
  margin-right: 25px;
  color : white;
  width : 42px;
  height : 42px;
  /*border : 1px solid white; /*아이콘 겉에 테두리*/
  /*border-radius: 50% ; /*50으로 지정하면 동그랗게 된다.*/
  font-size: 16px;
}

.contents_list > a {
  color : white;
}

