<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.exam.boards.mapper.BoardMapper">
   
   <!-- mapper interface에서 실핼 될 때 실핼 될 sql 쿼리문 id는 매서드 이름과 동일하개 작성 -->
   
	<!-- boardMapper에서 list에 담아주었기 때문에 resurtType으로 객체를 넣어준다. -->
	<!-- 전체 게시글 조회 -->
   	<select id="getBoardList" resultType="com.exam.boards.model.BoardsVO">
   	   		select * from board;
   	</select>
   	
   	<!-- 게시글 등록 -->
   	<insert id="upload" parameterType="com.exam.boards.model.BoardsVO">
   		insert into board (title, board_classification, classification, use_yn, content, user_id, lastmodified, hits, created)
   		values
   		(#{title}, #{board_classification}, #{classification}, #{use_yn}, #{content}, #{user_id}, #{lastmodified}, #{hits}, #{created})
   	</insert>
   	
   	<!-- 하나의 게시글 조회 -->
   	<select id="detail" parameterType="int" resultType="com.exam.boards.model.BoardsVO" >
   		select * from board where no = #{no}
   	</select>
   	
   	<!-- 게시글 수정 -->
   	<update id="modify"  parameterType="com.exam.boards.model.BoardsVO">
   		update board 
   		set 
   		title = #{title} , content = #{content}
   		where no = #{no}
   	</update>
   	
   	<!-- 게시글 삭제 -->
   	<delete id="delete" parameterType="int">
   		delete 
   		from board 
   		where no = #{no}
   	</delete>
   	

</mapper>